.form-btn-lg
{
    min-width:20rem;
}
.select2-container .select2-choice {
    display: block !important;
    height: 36px !important;
    white-space: nowrap !important;
    line-height: 26px !important;
}
.error{
    color:rgb(230, 117, 117);
}
